<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Mixer</title>
    <link rel="stylesheet" href="style.css">
</head>

<body id="app">
    <header id="header">
        <span>r</span>
        <input v-model="red" id="red" type="range" step="1" min="0" max="255" value="30">
        <span>g</span>
        <input v-model="green" id="green" type="range" step="1" min="0" max="255" value="144">
        <span>b</span>
        <input v-model="blue" id="blue" type="range" step="1" min="0" max="255" value="255">
        <p id="hexcode">#{{ hexCode }}</p>
        <button class="rndm-btn" id="rndmbtn" @click="giveRndmColor">Random Color</button>
    </header>
    <main id="main">

    </main>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="script.js"></script>
</body>

</html>